[
    MapResource (
        name: "lev01",
        path: "lev01.json",
        preview_path: "lev01.png",
        is_tiled_map: true,
    ),
    MapResource (
        name: "lev02",
        path: "lev02.json",
        preview_path: "lev02.png",
        is_tiled_map: true,
    ),
    MapResource (
        name: "lev03",
        path: "lev03.json",
        preview_path: "lev03.png",
        is_tiled_map: true,
    ),
    MapResource (
        name: "lev04",
        path: "lev04.json",
        preview_path: "lev04.png",
        is_tiled_map: true,
    ),
    MapResource (
        name: "lev05",
        path: "lev05.json",
        preview_path: "lev05.png",
        is_tiled_map: true,
    ),
    MapResource (
        name: "lev06",
        path: "lev06.json",
        preview_path: "lev06.png",
        is_tiled_map: true,
    ),
    MapResource (
        name: "zyrafa01",
        path: "zyrafa01.json",
        preview_path: "zyrafa01.png",
        is_tiled_map: true,
    ),
    MapResource (
        name: "zyrafa02",
        path: "zyrafa02.json",
        preview_path: "zyrafa02.png",
        is_tiled_map: true,
    ),
    MapResource (
        name: "zyrafa03",
        path: "zyrafa03.json",
        preview_path: "zyrafa03.png",
        is_tiled_map: true,
    ),
    MapResource (
        name: "zyrafa04",
        path: "zyrafa04.json",
        preview_path: "zyrafa04.png",
        is_tiled_map: true,
    ),
    MapResource (
        name: "zyrafa05",
        path: "zyrafa05.json",
        preview_path: "zyrafa05.png",
        is_tiled_map: true,
    ),
    MapResource (
        name: "zyrafa06",
        path: "zyrafa06.json",
        preview_path: "zyrafa06.png",
        is_tiled_map: true,
    ),
    MapResource (
        name: "test_level",
        path: "test_level.json",
        preview_path: "test_level.png",
        is_tiled_map: true,
    ),
]