[
    (
        id: "jump",
        path: "jump.wav",
    ),
    (
        id: "pickup",
        path: "pickup.wav",
    ),
    (
        id: "land",
        path: "land.wav",
    ),
    (
        id: "slip",
        path: "slip.wav",
    ),
    (
        id: "throw",
        path: "throw.wav",
    ),
    (
        id: "death",
        path: "fish_fillet.wav",
    ),
    (
        id: "shoot",
        path: "shoot.ogg",
    ),
    (
        id: "swing",
        path: "swing.wav",
    ),
    (
        id: "sword",
        path: "sword.wav",
    ),
]