on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
      - "**.json"
  pull_request:
    paths-ignore:
      - "**.md"
      - "**.json"

name: Compilation check

jobs:
  fmt:
    runs-on: ubuntu-latest
    name: Formatting
    steps:
      - uses: actions/checkout@v2
      - name: Check Rust formatting
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  clippy:
    runs-on: ubuntu-latest
    name: Linting
    steps:
      - uses: actions/checkout@v2
      - name: Install Clippy
        run: rustup component add clippy

      - name: Run Clippy
        run: cargo clippy -- -W clippy::correctness -D warnings

  build:
    name: Build
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          # Tier 1
          - { os: ubuntu-latest, target: "aarch64-unknown-linux-gnu" }
          - { os: windows-latest, target: "i686-pc-windows-gnu" }
          - { os: windows-latest, target: "i686-pc-windows-msvc" }
          - { os: ubuntu-latest, target: "i686-unknown-linux-gnu" }
          - { os: macos-latest, target: "x86_64-apple-darwin" }
          - { os: windows-latest, target: "x86_64-pc-windows-gnu" }
          - { os: windows-latest, target: "x86_64-pc-windows-msvc" }
          - { os: ubuntu-latest, target: "x86_64-unknown-linux-gnu" }
          # Tier 2
          - { os: ubuntu-latest, target: "x86_64-unknown-linux-musl" }
          - { os: ubuntu-latest, target: "i686-unknown-linux-musl" }
          - { os: ubuntu-latest, target: "armv5te-unknown-linux-gnueabi" }
          - { os: ubuntu-latest, target: "armv7-unknown-linux-gnueabihf" }
          - { os: ubuntu-latest, target: "aarch64-unknown-linux-musl" }
        profile: ["", "--release"]

    steps:
      - name: Install dependencies
        if: matrix.config.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install --allow-unauthenticated -y -qq \
           libasound2-dev libgl1-mesa-dev libx11-dev libxi-dev
      - uses: actions/checkout@v2
      - name: Cache Cargo dependencies
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.toml') }}
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.config.target }}
          override: true
          profile: minimal
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: ${{ matrix.profile }}
